# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
**/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
packages/sr2020-mm-client/src/css/tailwind.css
packages/sr2020-mm-client/audio-retranslator/settings-real.js
packages/sr2020-mm-client/src/dataAnalysis/data/restOfAll/
packages/sr2020-mm-client/pubSubTest/
shadowrun.code-workspace
.vscode/launch.json

packages/sr2020-mm-client/src/dataAnalysis/data/kml/otherKml
packages/sr2020-mm-client/public/images/nonIndexedImages/
