# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#**/build

# source maps
**/*.map

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

**/.eslintcache

shadowrun.code-workspace
.vscode/launch.json

npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*

packages/*/lib

packages/sr2020-mm-client/public/images/nonIndexedImages/
packages/sr2020-mm-client/build

packages/sr2020-mm-server/src/settings-real.ts
packages/sr2020-mm-server/logs/*
packages/sr2020-mm-server/static/
packages/sr2020-mm-server/dist/
packages/sr2020-mm-server/src/static

packages/sr2020-mm-player-server/src/settings-real.ts
packages/sr2020-mm-player-server/logs/*
packages/sr2020-mm-player-server/static/
packages/sr2020-mm-player-server/dist/
packages/sr2020-mm-player-server/src/static

packages/sr2020-mm-player-client/build

packages/sr2020-mm-data/src/analysis/data/restOfAll/
packages/sr2020-mm-data/src/analysis/data/kml/otherKml

packages/pubSubTest/

dist
tsconfig.tsbuildinfo

packages/outdated/sr2020-mm-ts-*

packages/test/*
