# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea/

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
#**/build

# source maps
**/*.map

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

**/.eslintcache

shadowrun.code-workspace
.vscode/launch.json

npm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*

packages/*/lib

packages/sr2020-mm-client/public/images/nonIndexedImages/
packages/sr2020-mm-client/build

packages/sr2020-mm-server/src/settings-real.ts
packages/sr2020-mm-server/logs/*
packages/sr2020-mm-server/static/
packages/sr2020-mm-server/dist/
packages/sr2020-mm-server/src/static

packages/sr2020-mm-data/src/analysis/data/restOfAll/
packages/sr2020-mm-data/src/analysis/data/kml/otherKml

packages/pubSubTest/

dist

packages/outdated/sr2020-mm-ts-*

# temporary ignore builds
packages/sr2020-mm-event-engine/core
packages/sr2020-mm-event-engine/outdated
packages/sr2020-mm-event-engine/services
packages/sr2020-mm-event-engine/utils
packages/sr2020-mm-event-engine/types
packages/sr2020-mm-event-engine/index.js
packages/sr2020-mm-event-engine/index.d.ts

packages/sr2020-mm-server-event-engine/dist

packages/sr2020-mm-client-event-engine/api
packages/sr2020-mm-client-event-engine/configs
packages/sr2020-mm-client-event-engine/dataManagers
packages/sr2020-mm-client-event-engine/services
packages/sr2020-mm-client-event-engine/types
packages/sr2020-mm-client-event-engine/input.d.ts
packages/sr2020-mm-client-event-engine/input.js

packages/sr2020-mm-data/analysis
packages/sr2020-mm-data/assets
packages/sr2020-mm-data/gpx
packages/sr2020-mm-data/pocs
packages/sr2020-mm-data/utils
packages/sr2020-mm-data/gameConstants*

packages/sr2020-mm-translations/app.*
packages/sr2020-mm-translations/gameConstants.*
packages/sr2020-mm-translations/index.*
packages/sr2020-mm-translations/leaflet.*
packages/sr2020-mm-translations/manaOcean.*
packages/sr2020-mm-translations/sounds.*
packages/sr2020-mm-translations/spirits.*